extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance of vehicle
    else
        - let vehicleId = toShow?._id
        - let vehicleModel = toShow?.model
        - let vehicleColor = toShow?.color
        - let vehicleYear = toShow?.year 
        div
        div.row
        div(class='vehicleAttr mr-3') Vehicle ID is:
        div #{vehicleId}
        div.row
        div(class='vehicleAttr mr-3') Vehicle Model is:
        div #{vehicleModel}
        div.row
        div(class='vehicleAttr mr-3') Vehicle Color is:
        div #{vehicleColor}
        div.row
        div(class='vehicleAttr mr-3') Vehicle year is:
        div #{vehicleYear}$