extends layout

block content
  h1= title
  p Welcome to  shiva Kumar Reddy #{title} page

  .container-fluid
  .row
    -  
    each vehicle,idx in results 
     .col-sm-2(onclick=`buy(${idx})`)
        h3 Vehicle
        p Model: #{vehicle.model}
        p Year: #{vehicle.year}
        p Color: #{vehicle.color}

  script.
    function buy(index) {
      alert(`You purchased item ${index}.`);
    }
  