extends layout

block content
  h1= title
  p Welcome to  shiva Kumar Reddy #{title} page

  .container-fluid
  .row
    -
      const results = [
        { model: 'Sedan', year: 2020, color: 'Blue' },
        { model: 'SUV', year: 2019, color: 'Red' },
        { model: 'Truck', year: 2022, color: 'Black' }
      ]
    -  
    each vehicle,idx in results 
     .col-sm-2(onclick=`buy(${idx})`)
        h3 Vehicle
        p Model: #{vehicle.model}
        p Year: #{vehicle.year}
        p Color: #{vehicle.color}

  script.
    function buy(index) {
      alert(`You purchased item ${index}.`);
    }
  